<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {% block title %} {{ blog_title }} {% endblock %} </title>
    <link rel="stylesheet" href="static/reset.css"/>
    <link rel="stylesheet" href="static/style.css"/>
    <link rel="author"/>
    <link rel="shortcut icon"/>
    <link rel="prefetch"/>
    <link rel="tag"/>

    <!--[if lt IE 9]>
	<script src="static/html5shiv.js"></script>
	<![endif]-->
  </head>

  <body>

    <header id="page-header">

      <div class="content">
	
	<img src="{{ blog_image }}"
	     id="blog-header-image"/>
	
	<hgroup class="">
	  <h1 id="blog-title">{{ blog_title }}</h1>
	  <h2 id="blog-description"> {{ blog_description }}</h2>
	</hgroup>

	<nav class="">
	  <ul id="blog-navigation-list">
            <li><a href="index.html" title="list of articles">blog</a> | </li>
            <li><a href="about.html" title="about the author">about</a>  </li>
	  </ul>
	</nav>
	
      </div>

    </header>

    {% block content %}
    {% endblock %}


  </body>
  
</html>
