{% extends 'base.html' %}

{% block content %}

<article class="content single-article"> 
  
  <header>
    <time datetime="{{ pubdate.strftime("%Y-%m-%d") }}" pubdate>
      {{ pubdate.strftime("%b %d, %Y") }}
    </time>
    <h1 class="article-header">
      <a href="{{ filename }}" rel="bookmark" title="link to this post">
	{{ title.0 }}
      </a>
    </h1>
  </header>

  {{ page_content }}
  
  <p class="article-tags"> 
    Posted under: 
    {% for t in tags %}{{ t }}{% if not loop.last %}, {% endif %}{% endfor %}
  </p>

</article>

{% endblock %}

